#compiled file
__pycache__/
.env
.cache
.pytest_cache/
run_tests.bat

# Celery stuff
celerybeat-schedule
celerybeat.pid

#virtual environment & dependecies settings
.env
.venv
myenv/
env/
venv/
delete_user.py

# FastAPI specific
.pytest_cache/


# SSL certificates
*.pem
*.key
*.crt
*.cert

# Docker
.dockerignore

# Temporary folders
tmp/
temp/

.swp

# Documentation
docs/
GOOGLE_AUTH_AND_UPLOAD.md
MOBILE_DEV_GUIDE.md

# GCP & Firebase Credentials
planetdev-475809-914df0ab954b.json
planet-team-firebase-adminsdk-fbsvc-f113ab3eab.json
*firebase*.json
correct_base64.txt
from_base64.txt
from_file.txt